DIALER_USER=
DIALER_PASSWORD=
DIALER_IMAGE=esurfing-dialer:v1.3
DIALER_BACKEND=auto
TZ=Asia/Shanghai

DIALER_MAC_ADDRESS=
DIALER_CLIENT_ID=

LOGIN_RETRY_INITIAL_SECONDS=5
LOGIN_RETRY_MAX_SECONDS=60
HEARTBEAT_FAILURE_THRESHOLD=3
HEARTBEAT_INTERVAL_MAX_SECONDS=240
PORTAL_DETECTION_THRESHOLD=12
NETWORK_CHECK_INTERVAL_SECONDS=5
PORTAL_AUTH_FRESH_SECONDS=900
POST_LOGIN_PORTAL_GRACE_SECONDS=20
PORTAL_REAUTH_COOLDOWN_SECONDS=300
LOGIN_CONFIRMATION_ATTEMPTS=3
LOGIN_CONFIRMATION_INTERVAL_SECONDS=2
HEALTH_AUTH_MAX_AGE_SECONDS=900
LOG_RETENTION_DAYS=3
NETWORK_CHECK_URLS=http://www.gstatic.com/generate_204,http://connect.rom.miui.com/generate_204,http://www.msftconnecttest.com/connecttest.txt
AUTO_REAUTH_ENABLED=1
AUTO_REAUTH_SAFE_WINDOW_START_HOUR=4
AUTO_REAUTH_SAFE_WINDOW_END_HOUR=6
